@use 'sass:math';
@use './variables';

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: math.div(variables.$grid-gutter, -2);
  margin-left: math.div(variables.$grid-gutter, -2);
}

.justify-content-start   { justify-content: flex-start; }
.justify-content-end     { justify-content: flex-end; }
.justify-content-center  { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around  { justify-content: space-around; }
.justify-content-evenly  { justify-content: space-evenly; }

.align-content-start   { align-content: flex-start; }
.align-content-end     { align-content: flex-end; }
.align-content-center  { align-content: center; }
.align-content-between { align-content: space-between; }
.align-content-around  { align-content: space-around; }
.align-content-stretch { align-content: stretch; }
